# Игнорируем папку .idea
.idea/

# Игнорируем временные файлы, заканчивающиеся на ~
*~

# Игнорируем конкретные форматы, оканчивающиеся на ml (кроме xml)
*.yml
*.sml
*.aml
*.iml
*.eml
*.cml
*.rml
*.tml
*.gml
*.kml
*.mml
*.pml
*.wml
